body, html {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}


h1{
	text-align: center;
}

body{
	width: auto;
	height: 100%;
}

.title{
	padding-top: 100px;
	padding-bottom: 75px;
}

.button{
	float: right;
	padding-bottom: 100px;
}

.middleCont
{
	text-align: center;
	padding-bottom: 100px;
}